<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>

<div class="jumbotron">

<% @todos.each do |todo| %>
<div class="well">
  <%= todo.description %>
  <%= todo.completed %>
  <br>
  <%= link_to "Show", show_path(todo), method: :show,  class: "btn btn-primary" %>
  <%= link_to "Edit", todo_path(todo), method: :edit, class: "btn btn-info" %>
  <%= link_to "Delete", todo_path(todo), method: :delete, data: { confirm: "Estás seguro?"}, class: "btn btn-danger" %>

  <div class="checkbox disabled">
  <label><input type="checkbox" value="" disabled>Mark Completed</label>
</div>

  </div>
<% end %>


<h3><%= link_to "Crear To Do", new_path,  class: "btn btn-warning" %></h3>

</div>

</body>
</html>
